---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
---

<Layout>
  <section class="bg-zinc-950 size-full flex lg:justify-center px-8 justify-start py-16 ">
    <div class="lg:w-[60%] w-full flex flex-col">
      <h1 class="text-xl font-normal mb-4">ronish rohan</h1>
      <div class="flex gap-4 items-center mb-4 text-zinc-400">
        <Icon name="location" />
        <div>bangalore, india</div>
      </div>
      <p class="mb-8">
        i'm a 19 y/o cs student. i love designing and building things. currently
        i am in my second year trying to build my skills. i love music and
        movies (and dogs and cats).
      </p>
      <section class="flex flex-col w-full h-fit">
        <h1 class="text-zinc-400 mb-4">projects</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 w-full gap-4 h-fit">
          <Project
            title="waffle"
            description="a twitter clone"
            link="https://github.com/ronishrohan/twitter-clone"
            date="april, 2024"
          />
          <Project
            title="paypeek"
            description="a app to manage invoices"
            link="https://github.com/ronishrohan/paypeek"
            date="february, 2024"
          />
          <Project
            title="calculator"
            description="a 3d calculator"
            link="https://github.com/ronishrohan/calculator"
            date="february, 2024"
          />
          <Project
            title="reddit-clone"
            description="a reddit clone"
            link="https://github.com/ronishrohan/reddit-clone"
            date="january, 2024"
          />
        </div>
        <div class="w-full flex justify-end">
          <a
            href="https://github.com/ronishrohan"
            class="p-2 border-2 border-transparent flex hover:border-zinc-700 rounded-lg text-zinc-400 fill-zinc-400 hover:text-white hover:fill-white leading-3 gap-2 items-center"
          >
            <div class="-translate-y-[2px]">more</div>
            <Icon name="fast-arrow-right" />
          </a>
        </div>
      </section>
    </div>
  </section>
</Layout>
