---
import {Icon} from "astro-icon/components"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section class="bg-zinc-950 size-full flex flex-col px-96 py-32" >
        <h1 class="text-xl font-normal mb-4">ronish rohan</h1>
        <div class="flex gap-4 items-center mb-4 text-zinc-400" >
            <Icon name="location" ></Icon>
            <div>bangalore, india</div>
        </div>
        <p class="mb-8">i'm a 19 y/o cs student. i love designing and building things. currently i am in my second year trying to build my skills. i love music and movies (and dogs and cats).</p>
        <section class="flex flex-col w-full h-fit">
            <h1 class="text-zinc-400 mb-4">projects</h1>
            <div class="flex flex-col w-full h-fit" >

            </div>
        </section>
    </section>
</Layout>