---
import "./index.css"
import "@fontsource/space-mono"
const { title } = Astro.props;



---

<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body  class="font-space  h-fit text-white">
    <slot></slot>
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>
